<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>IMAGE_STORAGE_LOCATION</param-name>
        <param-value>C:\Users\ASUS\Desktop\abc\UploadImg</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ShopManagerFilter</filter-name>
        <filter-class>filter.ShopManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/shopmanager</url-pattern>
        <url-pattern>/userproduct</url-pattern>
        <url-pattern>/dashboard/*</url-pattern>
        <url-pattern>/updateuser</url-pattern>
        <url-pattern>/updateshop</url-pattern>
        <url-pattern>/Test3</url-pattern>
        <url-pattern>/shopmanagerinvoice</url-pattern>
        <url-pattern>/newproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/AddProductSessionServlet</url-pattern>
        <url-pattern>/ThanhToanServlet</url-pattern>
        <url-pattern>/PushProductSessionServlet</url-pattern>
        <url-pattern>/removeproduct</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
        <url-pattern>/Test3</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShopManagerFilter</filter-name>
        <url-pattern>/shopmanager</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.authenticate.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicelineController</servlet-name>
        <servlet-class>controller.InvoicelineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>controller.Test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test3</servlet-name>
        <servlet-class>controller.Test3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.authenticate.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.authenticate.SignupServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>InvoiceUserServlet</servlet-name>
        <servlet-class>controller.user.InvoiceUserServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>UserAllProductServlet</servlet-name>
        <servlet-class>controller.user.UserAllProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>controller.user.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.shop.ShopServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>NewShopServlet</servlet-name>
        <servlet-class>controller.shop.NewShopServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>UpdateShopServlet</servlet-name>
        <servlet-class>controller.shop.UpdateShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopManagerServlet</servlet-name>
        <servlet-class>controller.shop.ShopManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>controller.comment.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImages</servlet-name>
        <servlet-class>controller.system.DisplayImages</servlet-class>
    </servlet>
    <servlet>
        <!--<<<<<<< HEAD-->
        <servlet-name>NewProductServlet</servlet-name>
        <servlet-class>controller.product.NewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.product.UpdateProductServlet</servlet-class>
        <!--=======-->
    </servlet>
    <servlet>
        <servlet-name>CartControllerServlet</servlet-name>
        <servlet-class>controller.cart.CartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>controller.cart.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushProductSessionServlet</servlet-name>
        <servlet-class>controller.cart.PushProductSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanServlet</servlet-name>
        <servlet-class>controller.cart.ThanhToanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductSessionServlet</servlet-name>
        <servlet-class>controller.cart.AddProductSessionServlet</servlet-class>
        <!-->>>>>>> 57f8854f1efdd2ee9ebd2b441cdaf6d61bbd4e56-->
    </servlet>
    <servlet>
        <servlet-name>ShopManagerInvoice</servlet-name>
        <servlet-class>controller.shop.ShopManagerInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopsServlet</servlet-name>
        <servlet-class>controller.shop.ShopsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>controller.error.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductController</servlet-name>
        <servlet-class>controller.product.RemoveProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>InvoiceUserServlet</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>UserAllProductServlet</servlet-name>
        <url-pattern>/userproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicelineController</servlet-name>
        <url-pattern>/dashboard/invoiceline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/dashboard/shopproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImages</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>NewShopServlet</servlet-name>
        <url-pattern>/newshop</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>UpdateShopServlet</servlet-name>
        <url-pattern>/updateshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopManagerServlet</servlet-name>
        <url-pattern>/shopmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <!--<<<<<<< HEAD-->
        <servlet-name>NewProductServlet</servlet-name>
        <url-pattern>/newproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <!--=======-->
    <servlet-mapping>
        <servlet-name>CartControllerServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/removeproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushProductSessionServlet</servlet-name>
        <url-pattern>/PushProductSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanServlet</servlet-name>
        <url-pattern>/ThanhToanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductSessionServlet</servlet-name>
        <url-pattern>/AddProductSessionServlet</url-pattern>
        <!-->>>>>>> 57f8854f1efdd2ee9ebd2b441cdaf6d61bbd4e56-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopManagerInvoice</servlet-name>
        <url-pattern>/shopmanagerinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicelineController</servlet-name>
        <url-pattern>/dashboard/invoiceline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/dashboard/shopproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/dashboard/searchproductinshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/dashboard/searchinvoiceline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test3</servlet-name>
        <url-pattern>/Test3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopsServlet</servlet-name>
        <url-pattern>/shops</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error</location>
    </error-page>
    <!-- exception-type related error pages -->
    <error-page>
        <exception-type>
           javax.servlet.ServletException
        </exception-type>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>RemoveProductController</servlet-name>
        <url-pattern>/RemoveProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
